* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  height: 100%;
  overflow: auto;
}

h1 {
  margin-bottom: 15px;
  padding-bottom: 0;
  font-size: 28px;
  padding-left: 8px;
}

.topBar {
  background-color: #444;
  /*width: 100%;*/
  height: 50px;
  width: 100%;
  max-width: 100%;
  /*z-index:199998;*/
  color: white;
}

.lowerContent {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

.sidebar {
  background-color: #333;
  width: 250px;
  height: 100%;
  z-index:199998;
  color: white;
  padding-top: 16px;
  overflow: auto;
}

.mapContainer {
  width: calc(100% - 250px);
}

.widenMap {
  width: 100%;
}

#map {
  width: 100%;
  position: fixed !important;
  height: 100%;
}

.hideSidebar {
  -webkit-transition: transform .15s;
  transform: translate(-250px);
  position: absolute;
}

.hideClickContainer {
  padding-left: 16px;
  padding-top: 10px;
}

.hideClick {
  font-size: 30px;
  font-weight: bold;
}

.hideClick:hover {
  color: #cce;
  cursor: pointer;
}

.inputField {
  width: 204px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 16px;
}

.filterBtn {
  background-color: #33e;
  color: white;
  border-color: #55f;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
  font-weight: bold;
  outline: none;
  border-style: solid;
  border-radius: 0;
}

.filterBtn:hover {
  background-color: #55f;
  border-color: #77f;
  cursor: pointer;
}

.markerList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.markerList-entry {
  margin-left: 0;
  padding: 16px;
}

.markerList-entry:hover {
  background-color: #445;
  cursor: pointer;
}

.hideEntry {
  display: none;
}

.topHideClick {
  display: none;
  width: 50px;
  height: 1em;
}

/*
Breakpoint for mobile.
*/

@media only screen and (max-width: 420px) {

  .sidebar {
    background-color: #333;
    width: 100%;
    z-index:199998;
    color: white;
    position: absolute;
    padding-top: 16px;
    -webkit-transition: transform .15s;
    transform: translate(-420px);
  }

  .hideSidebar {
    -webkit-transition: transform .15s;
    transform: translate(0px);
  }

  .mapContainer {
    width: 100%;
  }

}

@media only screen and (max-width: 667px) and (orientation : landscape) {

  body {
    position: relative;
  }
  .topBar {
    z-index: 199999;
    position: fixed;
  }
  .sidebar {
    top: 50px;
    background-color: #333;
    color: white;
    position: absolute;
    padding-top: 16px;
    -webkit-transition: transform .15s;
    transform: translate(-250px);
  }

  .hideSidebar {
    -webkit-transition: transform .15s;
    transform: translate(0px);
  }

  .infoWindow {
    font-size: 8px;
  }

  #map {
    top: 50px;
    height: calc(100% - 50px);
  }
}
